@import 'jeet'

.container
  center(1280px)

nav
  margin-top 20px
  margin-bottom 30px
  clearfix()
  .site-name
    col(1/2)
    font-size 32px

  .login
    col(1/2)
    #login-buttons
      float right

.resource
  margin-bottom 15px
  .url, .plain-text
    padding 10px
    border-left 5px solid black
